<?xml version="1.0"?>
<config>
  <modules>
    <Vp_Alphasearch>
      <version>1.0.0</version>
    </Vp_Alphasearch>
  </modules>
  <frontend>
    <routers>
      <alphasearch>
        <use>standard</use>
          <args>
            <module>Vp_Alphasearch</module>
            <frontName>alphasearch</frontName>
          </args>
      </alphasearch>
    </routers>
		<layout>
		  <updates>
			<alphasearch>
			  <file>alphasearch.xml</file>
			</alphasearch>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <alphasearch>
        <class>Vp_Alphasearch_Helper</class>
      </alphasearch>
    </helpers>
	<blocks>
	  <alphasearch>
		<class>Vp_Alphasearch_Block</class>
	  </alphasearch>
	</blocks>
  </global>
</config> 